@import url('http://fonts.googleapis.com/css?family=Yantramanav');
#prompt {
	position: fixed;
	top: 50%;
  	left: 50%;
  	margin-top: -50px;
  	background-color: #D8D8D8;
  	word-wrap: break-word;
  	display: inline-block;
 	vertical-align: middle;
}

#textbox {
	padding: 0;
    position: fixed;
  	left: 50%;
    outline: none;
    border: 1px solid #cdcdcd;
    border-color: rgba(0,0,0,.15);
    background-color: white;
    font-size: 16px;
	top: 50%;
	width: 500px;
	color: #bdc3c7;
}

.header {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	background-color: #D8D8D8;
	text-align: center;
	font-family: "Yantramanav";
	font-weight: 100;


}
.left_side {
	float:left;
	width: 50%;
	background-color: #2ecc71;
	margin:0px;
	text-align: center;


}

.right_side {
	float: left;
	width: 50%;
	background-color: #6DDB9C;
	text-align: center;
	margin:0px;


}