#prompt {
	position: fixed;
	top: 50%;
  	left: 50%;
  	margin-top: -50px;
 
}

input[type=text] {
    padding: 0;
    height: 30px;
    position: fixed;
  	left: 50%;
    outline: none;
    border: 1px solid #cdcdcd;
    border-color: rgba(0,0,0,.15);
    background-color: white;
    font-size: 16px;
	top: 50%;
}


#textbox {
	width: 500px;
}

